$primary-color: #070707;
$soft-color: #a6a6a6;
$secondary-color: #1717E8;
$background-color: #FFFFFF;
$dark-bg-color: #181818;

$fontsize-base: 14pt;
$breadtext-font: 'Junicode', serif;
$heading-font: 'Junicode', serif;
$heading-size: 16pt;
$main-width: 700px;

$font1: 'Junicode', serif;
$font2: 'Junicode', serif;
$font3: 'Junicode', serif;
$font4: 'Junicode', serif;
